# DS-SF-34 | 03 | Databases, Scrapping, and APIs | Assignment | Starter Code

## The Bistro Meets `SQLite`

In this assignment, we will be exploring the `bistro` dataset.  The previous assignment used `pandas`.  Today, we'll answer the same questions but using `SQLite`.  In some situations, `pandas` will be a better solution.  In others, doing it using `SQL` will make more sense.  As you gain more experience, you'll know which one to use.

> ### Question 1.  Import the `sqlite3` package.

In [1]:
import os

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

# TODO
import sqlite3

> ### Question 2.  Connect to the `dataset-03-bistro.db` database.  The rest of this assignment focus on the `bistro` table.

In [2]:
# TODO
db = sqlite3.connect(os.path.join('..', 'datasets', 'dataset-03-bistro.db'))

> ### Question 3.  How many samples (i.e., rows) are in this dataset?

In [9]:
# TODO
pd.io.sql.read_sql(
'''
SELECT count()
    FROM bistro
    
;
''', con = db)

   count()
0      244

Answer: TODO

> ### Question 4.  Print the first two rows of the table to the console.

In [5]:
# TODO
pd.io.sql.read_sql(
'''
SELECT *
    FROM bistro
    Limit 2
    
;
''', con = db)

   index     day    time      name  gender  is_smoker  party  check   tip
0      0  Sunday  Dinner  Kimberly  Female          0      2  16.99  1.01
1      1  Sunday  Dinner  Nicholas    Male          0      3  10.34  1.66

> ### Question 5.  For which week days does the dataset has data for?

In [16]:
# TODO
pd.io.sql.read_sql(
'''
SELECT DISTINCT Day from Bistro

;
''', con = db)

        day
0    Sunday
1  Saturday
2  Thursday
3    Friday

Answer: TODO

> ### Question 6.  How often was the bistro patronized for each week day?

In [19]:
# TODO

pd.io.sql.read_sql(
'''
SELECT day, count() as Visits
    From Bistro
    Group by Day
     

;
''', con = db)

        day  Visits
0    Friday      19
1  Saturday      87
2    Sunday      76
3  Thursday      62

Answer: TODO

> ### Question 7.  How much tip did waiters collect for each week day?

In [23]:
# TODO
pd.io.sql.read_sql(
'''
SELECT SUM(Tip) as Total_Tips, Day
    From Bistro
    Group by Day
     

;
''', con = db)

   Total_Tips       day
0       51.96    Friday
1      260.40  Saturday
2      247.39    Sunday
3      171.83  Thursday

Answer: TODO

> ### Question 8.  What is the average tip per check (in absolute \$) for each week day?

In [27]:
# TODO
pd.io.sql.read_sql(
'''
SELECT AVG(Tip) AS Average_Tip, Day
    From Bistro
    Group by Day
     

;
''', con = db)

   Average_Tip       day
0     2.734737    Friday
1     2.993103  Saturday
2     3.255132    Sunday
3     2.771452  Thursday

Answer: TODO

> ### Question 9.  What is the average tip per check (as a percentage of the check) for each week day?

(`CHECK` is a reserved keywork; use `` `check` `` (put the name between backticks) to reference the `check` column)

In [32]:
# TODO

pd.io.sql.read_sql(
'''
SELECT SUM('tip') / Sum('check') as total_tips, Day
    From Bistro
    Group by Day
     

;
''', con = db)

  total_tips       day
0       None    Friday
1       None  Saturday
2       None    Sunday
3       None  Thursday

Answer: TODO

> ### Question 10.  Are there any name in common between male and female patrons?  (E.g., `Chris` can refer to either a man or a woman)

(check `numpy.intersect1d()`; it could come in handy)

(https://docs.scipy.org/doc/numpy/reference/generated/numpy.intersect1d.html)

In [33]:
# TODO

pd.io.sql.read_sql(
'''
SELECT name
    FROM Bistro
    WHERE gender = 'Female'
    
INTERSECT
    
SELECT name
    FROM Bistro
    WHERE gender = 'Male'
     

;
''', con = db)

    name
0  Casey

Answer: TODO

> ### Question 11.  If no patrons share the same name, how many unique patrons are in the dataset?

In [35]:
# TODO
pd.io.sql.read_sql(
'''
SELECT DISTINCT gender, name
    FROM Bistro
    
;
''', con = db)

     gender      name
0    Female  Kimberly
1      Male  Nicholas
2      Male     Larry
3      Male    Joseph
4    Female    Janice
..      ...       ...
177    Male    Darwin
178    Male     Henry
179    Male    Jeremy
180  Female   Dorothy
181  Female    Sandra

[182 rows x 2 columns]

Answer: TODO

> ### Question 12.  How many times did `Kevin` patronized the bistro?  How about `Alice`?

In [ ]:
# TODO

Answer: TODO

> ### Question 13.  Who are the top 3 female and male patrons?

In [ ]:
# TODO

Answer: TODO

> ### Question 14.  Who's the best tipper (as a fraction of all tips over all check totals)?  Who's the worst?  How many times did they patronize the bistro?

In [ ]:
# TODO

Answer: TODO