# Final Project 2

## San Francisco Crime Classification

### Project Problem and Hypothesis

##### The following is an excerpt from Kaggle San Francisco Crime Classification: 

With rising wealth inequality, housing shortages, and a proliferation of expensive digital toys riding BART to work, there is no scarcity of crime in the city by the bay

##### My overall summary:
By using this dataset, predict the category of crimes that occurred in the city. To keep this project manageable, I've reduced to the number of categories I'm allowed to predict: predict whether the crime will fall under "LARCENY/THEFT" or not. One example of how this prediction  could help in the future is to allocate enough law enforcement at the right place and right time to prevent theft. Through some exploratory data analysis (and looking at the test set), I'll keep the columns,"ID", "Dates", "Category", "PdDistrict", "Address","X", and "Y". Overall with the limited amount of columns to work with, with some data minpulation, I think PDdistrict, Dates, X, and Y will have the biggest impact in predictive power.

### Datasets

Dates - timestamp of the crime incident. I will try to break into more columns for Day, Year, Month, and time.

Category - category of the crime incident (only in train.csv). This is the target variable I will try to predict.

Descript - detailed description of the crime incident (only in train.csv). I am dropping this column.

DayOfWeek - the day of the week, Sunday through Saturday. I created dummy variables for this.

PdDistrict - name of the Police Department District

Resolution - how the crime incident was resolved (only in train.csv). I might drop this column.

Address - the approximate street address of the crime incident

X - Longitude

Y - Latitude

### Domain knowledge

Thankfully, if I google "San Francisco Crime Classification github," there is a lot of work that has already been done on this, so I was leverage other ideas if I get stuck or need help creating a model.
    
<b>Benchmark</b>: 

After doing some google searches, it looks like the best model for this classifier is from a decision tree, which we haven't covered yet in class. I read someone online that someone got a rank of 1149 with a score of 2.64. I'm not sure what this means, I'm I am adding this comment as part of the document writeup.

### Project Concerns

I'm not sure where to start. I plan on working with the same model my group had used for the class assignment, titantic, and work from there to see what can be done. I'm also reading from other folks who used predicitive models that we haven't covered in class (yet at least). Some of these include Naïve Bayes and decision trees. While there are other models out there that were used for this dataset, I'd like to stick with materials we learned in class as much as possible. I need help determining what would be the best route. 

I don't what to do with X and Y variables, although I think they're important to keep.

<b>Assumptions</b>: 

The only high level assumption I can think of for this is that the data entered is as accurate as possible. 

<b>Data I wish I had</b>:

Not to get carried away, but I read from another person had data for nearby police stations. I think this is possible to get, but would take a lot of time to do as I would take ages to figure out how to pull this information together.

Also, if I could somehow understand how coordinates work, I could create a range of coordinates and add it into my data to add more classifications.

<b>Risks</b>:

At the moment, the only risk I can think of is that the data entry is already biased. At the same time, I think this risk is low, because I don't need the folks entering data have an agenda to skew it, unless the data released by SFPD was manipulated.

### Outcomes

I'm hoping to train the training set and when compared back to the test set, my goal to get a good percentage of them predicted correctly. Given that I'm not obviously a advance data science, I will try to keep my model as simple as possible using material from class. My definition of success would be to come up with predictions. My best case sceanrio for success is a high score for predictions.

In [71]:
import os

import math

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 12)

from sklearn import linear_model, cross_validation
import statsmodels.api as sm
import statsmodels.formula.api as smf

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [72]:
df = pd.read_csv("train.csv")

In [73]:
df

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541
...,...,...,...,...,...,...,...,...,...
878044,2003-01-06 00:15:00,ROBBERY,ROBBERY ON THE STREET WITH A GUN,Monday,TARAVAL,NONE,FARALLONES ST / CAPITOL AV,-122.459033,37.714056
878045,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,INGLESIDE,NONE,600 Block of EDNA ST,-122.447364,37.731948
878046,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,SOUTHERN,NONE,5TH ST / FOLSOM ST,-122.403390,37.780266
878047,2003-01-06 00:01:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Monday,SOUTHERN,NONE,TOWNSEND ST / 2ND ST,-122.390531,37.780607
878048,2003-01-06 00:01:00,FORGERY/COUNTERFEITING,"CHECKS, FORGERY (FELONY)",Monday,BAYVIEW,NONE,1800 Block of NEWCOMB AV,-122.394926,37.738212

In [74]:
df.Address.value_counts()

800 Block of BRYANT ST      26533
800 Block of MARKET ST       6581
2000 Block of MISSION ST     5097
1000 Block of POTRERO AV     4063
900 Block of MARKET ST       3251
                            ...
2600 Block of TARAVAL ST        1
0 Block of PALOALTO AV          1
ALEMANY BL / RAMSELL ST         1
2800 Block of MARKET ST         1
KRAMER PL / GREENWICH ST        1
Name: Address, dtype: int64

In [75]:
df.columns

Index([u'Dates', u'Category', u'Descript', u'DayOfWeek', u'PdDistrict',
       u'Resolution', u'Address', u'X', u'Y'],
      dtype='object')

In [76]:
df.Resolution.unique()

array(['ARREST, BOOKED', 'NONE', 'ARREST, CITED', 'PSYCHOPATHIC CASE',
       'JUVENILE BOOKED', 'UNFOUNDED', 'EXCEPTIONAL CLEARANCE', 'LOCATED',
       'CLEARED-CONTACT JUVENILE FOR MORE INFO', 'NOT PROSECUTED',
       'JUVENILE DIVERTED', 'COMPLAINANT REFUSES TO PROSECUTE',
       'JUVENILE ADMONISHED', 'JUVENILE CITED',
       'DISTRICT ATTORNEY REFUSES TO PROSECUTE',
       'PROSECUTED BY OUTSIDE AGENCY', 'PROSECUTED FOR LESSER OFFENSE'], dtype=object)

In [77]:
df.Category.unique()

array(['WARRANTS', 'OTHER OFFENSES', 'LARCENY/THEFT', 'VEHICLE THEFT',
       'VANDALISM', 'NON-CRIMINAL', 'ROBBERY', 'ASSAULT', 'WEAPON LAWS',
       'BURGLARY', 'SUSPICIOUS OCC', 'DRUNKENNESS',
       'FORGERY/COUNTERFEITING', 'DRUG/NARCOTIC', 'STOLEN PROPERTY',
       'SECONDARY CODES', 'TRESPASS', 'MISSING PERSON', 'FRAUD',
       'KIDNAPPING', 'RUNAWAY', 'DRIVING UNDER THE INFLUENCE',
       'SEX OFFENSES FORCIBLE', 'PROSTITUTION', 'DISORDERLY CONDUCT',
       'ARSON', 'FAMILY OFFENSES', 'LIQUOR LAWS', 'BRIBERY',
       'EMBEZZLEMENT', 'SUICIDE', 'LOITERING', 'SEX OFFENSES NON FORCIBLE',
       'EXTORTION', 'GAMBLING', 'BAD CHECKS', 'TREA', 'RECOVERED VEHICLE',
       'PORNOGRAPHY/OBSCENE MAT'], dtype=object)

In [78]:
df.Category.value_counts()

LARCENY/THEFT                174900
OTHER OFFENSES               126182
NON-CRIMINAL                  92304
ASSAULT                       76876
DRUG/NARCOTIC                 53971
                              ...
EXTORTION                       256
SEX OFFENSES NON FORCIBLE       148
GAMBLING                        146
PORNOGRAPHY/OBSCENE MAT          22
TREA                              6
Name: Category, dtype: int64

In [79]:
df = df.drop(['Descript'], axis = 1)

In [80]:
df.head()

,Dates,Category,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [81]:
df.PdDistrict.unique().tolist()

['NORTHERN',
 'PARK',
 'INGLESIDE',
 'BAYVIEW',
 'RICHMOND',
 'CENTRAL',
 'TARAVAL',
 'TENDERLOIN',
 'MISSION',
 'SOUTHERN']

In [82]:
PdDistrict_df = pd.get_dummies(df.PdDistrict, prefix = 'District')

In [83]:
df = df.join(PdDistrict_df)

In [84]:
df.head()

,Dates,Category,DayOfWeek,PdDistrict,Resolution,Address,...,District_NORTHERN,District_PARK,District_RICHMOND,District_SOUTHERN,District_TARAVAL,District_TENDERLOIN
0,2015-05-13 23:53:00,WARRANTS,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,...,1,0,0,0,0,0
1,2015-05-13 23:53:00,OTHER OFFENSES,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,...,1,0,0,0,0,0
2,2015-05-13 23:33:00,OTHER OFFENSES,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,...,1,0,0,0,0,0
3,2015-05-13 23:30:00,LARCENY/THEFT,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,...,1,0,0,0,0,0
4,2015-05-13 23:30:00,LARCENY/THEFT,Wednesday,PARK,NONE,100 Block of BRODERICK ST,...,0,1,0,0,0,0

In [85]:
DayOfWeek_df = pd.get_dummies(df.DayOfWeek, prefix = 'DayOfWeek')

In [86]:
df = df.join(DayOfWeek_df)

df.head()

,Dates,Category,DayOfWeek,PdDistrict,Resolution,Address,...,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,2015-05-13 23:53:00,WARRANTS,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,...,0,0,0,0,0,1
1,2015-05-13 23:53:00,OTHER OFFENSES,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,...,0,0,0,0,0,1
2,2015-05-13 23:33:00,OTHER OFFENSES,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,...,0,0,0,0,0,1
3,2015-05-13 23:30:00,LARCENY/THEFT,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,...,0,0,0,0,0,1
4,2015-05-13 23:30:00,LARCENY/THEFT,Wednesday,PARK,NONE,100 Block of BRODERICK ST,...,0,0,0,0,0,1

In [87]:
df.columns

Index([u'Dates', u'Category', u'DayOfWeek', u'PdDistrict', u'Resolution',
       u'Address', u'X', u'Y', u'District_BAYVIEW', u'District_CENTRAL',
       u'District_INGLESIDE', u'District_MISSION', u'District_NORTHERN',
       u'District_PARK', u'District_RICHMOND', u'District_SOUTHERN',
       u'District_TARAVAL', u'District_TENDERLOIN', u'DayOfWeek_Friday',
       u'DayOfWeek_Monday', u'DayOfWeek_Saturday', u'DayOfWeek_Sunday',
       u'DayOfWeek_Thursday', u'DayOfWeek_Tuesday', u'DayOfWeek_Wednesday'],
      dtype='object')

In [88]:
df[['DayOfWeek_Saturday', 'DayOfWeek_Sunday', 'DayOfWeek_Monday' , 
    'DayOfWeek_Tuesday' , 'DayOfWeek_Wednesday', 'DayOfWeek_Thursday', 
    'DayOfWeek_Friday']].sum()

DayOfWeek_Saturday     126810
DayOfWeek_Sunday       116707
DayOfWeek_Monday       121584
DayOfWeek_Tuesday      124965
DayOfWeek_Wednesday    129211
DayOfWeek_Thursday     125038
DayOfWeek_Friday       133734
dtype: int64

In [89]:
df['LARCENY/THEFT'] = df.Category.apply(lambda x:1 if x =="LARCENY/THEFT" else 0)

In [90]:
df.head()

,Dates,Category,DayOfWeek,PdDistrict,Resolution,Address,...,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday,LARCENY/THEFT
0,2015-05-13 23:53:00,WARRANTS,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,...,0,0,0,0,1,0
1,2015-05-13 23:53:00,OTHER OFFENSES,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,...,0,0,0,0,1,0
2,2015-05-13 23:33:00,OTHER OFFENSES,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,...,0,0,0,0,1,0
3,2015-05-13 23:30:00,LARCENY/THEFT,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,...,0,0,0,0,1,1
4,2015-05-13 23:30:00,LARCENY/THEFT,Wednesday,PARK,NONE,100 Block of BRODERICK ST,...,0,0,0,0,1,1

In [91]:
df.corr()

,X,Y,District_BAYVIEW,District_CENTRAL,District_INGLESIDE,District_MISSION,...,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday,LARCENY/THEFT
X,1.000000,0.559338,0.324589,0.141814,-0.063299,0.042235,...,0.005575,0.002131,-0.001416,-0.002643,0.000631,0.002808
Y,0.559338,1.000000,-0.021009,0.019922,-0.028753,-0.009247,...,-0.000597,-0.000958,0.000523,0.000236,0.000109,0.007560
District_BAYVIEW,0.324589,-0.021009,1.000000,-0.110578,-0.105772,-0.133924,...,-0.005097,0.000867,-0.003549,0.000949,0.003333,-0.072548
District_CENTRAL,0.141814,0.019922,-0.110578,1.000000,-0.103137,-0.130589,...,0.018852,0.009484,-0.005903,-0.009609,-0.008992,0.077320
District_INGLESIDE,-0.063299,-0.028753,-0.105772,-0.103137,1.000000,-0.124913,...,-0.006142,-0.001570,0.000799,0.003702,0.000499,-0.054552
...,...,...,...,...,...,...,...,...,...,...,...,...,...
DayOfWeek_Sunday,0.002131,-0.000958,0.000867,0.009484,-0.001570,-0.000623,...,-0.160859,1.000000,-0.159543,-0.159489,-0.162635,0.007584
DayOfWeek_Thursday,-0.001416,0.000523,-0.003549,-0.005903,0.000799,-0.000289,...,-0.167420,-0.159543,1.000000,-0.165994,-0.169269,-0.004011
DayOfWeek_Tuesday,-0.002643,0.000236,0.000949,-0.009609,0.003702,0.002056,...,-0.167363,-0.159489,-0.165994,1.000000,-0.169211,-0.007631
DayOfWeek_Wednesday,0.000631,0.000109,0.003333,-0.008992,0.000499,0.000671,...,-0.170665,-0.162635,-0.169269,-0.169211,1.000000,-0.010068
LARCENY/THEFT,0.002808,0.007560,-0.072548,0.077320,-0.054552,-0.047016,...,0.015880,0.007584,-0.004011,-0.007631,-0.010068,1.000000

In [92]:
df.drop(['X', 'Y'], axis = 1).corr()

,District_BAYVIEW,District_CENTRAL,District_INGLESIDE,District_MISSION,District_NORTHERN,District_PARK,...,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday,LARCENY/THEFT
District_BAYVIEW,1.000000,-0.110578,-0.105772,-0.133924,-0.124307,-0.082145,...,-0.005097,0.000867,-0.003549,0.000949,0.003333,-0.072548
District_CENTRAL,-0.110578,1.000000,-0.103137,-0.130589,-0.121211,-0.080100,...,0.018852,0.009484,-0.005903,-0.009609,-0.008992,0.077320
District_INGLESIDE,-0.105772,-0.103137,1.000000,-0.124913,-0.115943,-0.076618,...,-0.006142,-0.001570,0.000799,0.003702,0.000499,-0.054552
District_MISSION,-0.133924,-0.130589,-0.124913,1.000000,-0.146803,-0.097011,...,-0.000985,-0.000623,-0.000289,0.002056,0.000671,-0.047016
District_NORTHERN,-0.124307,-0.121211,-0.115943,-0.146803,1.000000,-0.090045,...,0.002791,0.002844,0.000877,-0.004193,-0.002356,0.067200
...,...,...,...,...,...,...,...,...,...,...,...,...,...
DayOfWeek_Sunday,0.000867,0.009484,-0.001570,-0.000623,0.002844,0.001333,...,-0.160859,1.000000,-0.159543,-0.159489,-0.162635,0.007584
DayOfWeek_Thursday,-0.003549,-0.005903,0.000799,-0.000289,0.000877,0.000348,...,-0.167420,-0.159543,1.000000,-0.165994,-0.169269,-0.004011
DayOfWeek_Tuesday,0.000949,-0.009609,0.003702,0.002056,-0.004193,-0.002085,...,-0.167363,-0.159489,-0.165994,1.000000,-0.169211,-0.007631
DayOfWeek_Wednesday,0.003333,-0.008992,0.000499,0.000671,-0.002356,0.000339,...,-0.170665,-0.162635,-0.169269,-0.169211,1.000000,-0.010068
LARCENY/THEFT,-0.072548,0.077320,-0.054552,-0.047016,0.067200,-0.008382,...,0.015880,0.007584,-0.004011,-0.007631,-0.010068,1.000000