# DS-SF-34 | Unit Project | 1 | Research Design | Starter Code

In this first unit project, you will create a framework to scope out data science projects.  This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

## Part A.  Evaluate the following problem statement:

> "Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and `activity score 1 = active user`, `0 = inactive user`) based on Hooli data from January-April 2015."

> ### Question 1.  What is the outcome?

Answer: Return customer indicator (yes or no). In other words, using the existing varaibles, which free-teir customer will convert to a paying customer?

> ### Question 2.  What are the predictors/covariates?

Answer: Age, gender, location, profession, days since last log in, and activity.

> ### Question 3.  What timeframe is this data relevent for?

Answer: January 2015 through April 2015

> ### Question 4.  What is the hypothesis?

Answer: Demographic and customer usage data information will allow us to predict if a free-tier customer will covert to a paying customer.

## Part B.  Let's start exploring our UCLA dataset and answer some simple questions:

In [1]:
import os
import pandas as pd

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.notebook_repr_html', True)

df = pd.read_csv(os.path.join('..', '..', 'dataset', 'dataset-ucla-admissions.csv'))

df

     admit    gre   gpa  prestige
0        0  380.0  3.61       3.0
1        1  660.0  3.67       3.0
2        1  800.0  4.00       1.0
3        1  640.0  3.19       4.0
4        0  520.0  2.93       4.0
..     ...    ...   ...       ...
395      0  620.0  4.00       2.0
396      0  560.0  3.04       3.0
397      0  460.0  2.63       2.0
398      0  700.0  3.65       2.0
399      0  600.0  3.89       3.0

[400 rows x 4 columns]

> ### Question 5.  Create a data dictionary.

In [10]:
df.set_index('gpa')['admit'].to_dict()

{2.5499999999999998: 0,
 2.6200000000000001: 1,
 2.6699999999999999: 0,
 2.6800000000000002: 1,
 2.6899999999999999: 0,
 2.7799999999999998: 0,
 2.79: 0,
 2.8399999999999999: 1,
 2.8500000000000001: 0,
 2.8599999999999999: 0,
 2.8799999999999999: 0,
 2.9500000000000002: 0,
 2.98: 0,
 3.0: 1,
 3.0299999999999998: 0,
 3.04: 0,
 3.0899999999999999: 0,
 3.1200000000000001: 0,
 3.1499999999999999: 0,
 3.1600000000000001: 0,
 3.1699999999999999: 0,
 3.2000000000000002: 0,
 3.21: 0,
 3.23: 0,
 3.2400000000000002: 0,
 3.25: 0,
 3.27: 0,
 3.29: 0,
 3.3100000000000001: 0,
 3.3199999999999998: 0,
 3.3300000000000001: 0,
 3.3399999999999999: 0,
 3.3599999999999999: 0,
 3.3700000000000001: 1,
 3.3999999999999999: 0,
 3.4399999999999999: 0,
 3.4500000000000002: 1,
 3.48: 1,
 3.5: 0,
 3.52: 0,
 3.5299999999999998: 1,
 3.54: 0,
 3.5699999999999998: 0,
 3.5800000000000001: 0,
 3.6099999999999999: 0,
 3.6200000000000001: 0,
 3.6299999999999999: 0,
 3.6400000000000001: 1,
 3.6499999999999999: 0,
 3.6699999999999999: 0,
 3.6899999999999999: 1,
 3.7000000000000002: 0,
 3.75: 1,
 3.7599999999999998: 1,
 3.7799999999999998: 0,
 3.8300000000000001: 0,
 3.8399999999999999: 1,
 3.8799999999999999: 1,
 3.9100000000000001: 0,
 3.9199999999999999: 0,
 3.9500000000000002: 0,
 4.0: 0,
 nan: 0,
 3.9300000000000002: 0,
 3.9900000000000002: 1,
 nan: 1,
 2.2599999999999998: 0,
 2.4199999999999999: 1,
 2.48: 0,
 2.52: 0,
 2.5600000000000001: 0,
 2.6299999999999999: 0,
 2.6499999999999999: 1,
 2.7000000000000002: 0,
 2.71: 0,
 2.73: 0,
 2.7599999999999998: 0,
 2.8100000000000001: 1,
 2.8199999999999998: 0,
 2.8300000000000001: 0,
 2.8700000000000001: 0,
 2.8999999999999999: 0,
 2.9100000000000001: 1,
 2.9199999999999999: 0,
 2.9300000000000002: 0,
 2.9399999999999999: 1,
 2.96: 0,
 2.9700000000000002: 1,
 3.0099999999999998: 0,
 3.02: 0,
 3.0499999999999998: 1,
 3.0600000000000001: 0,
 3.0699999999999998: 0,
 3.0800000000000001: 0,
 3.1000000000000001: 0,
 3.1099999999999999: 0,
 3.1299999999999999: 0,
 3.1400000000000001: 0,
 3.1800000000000002: 1,
 3.1899999999999999: 1,
 3.2200000000000002: 1,
 3.2799999999999998: 0,
 3.2999999999999998: 0,
 3.3500000000000001: 0,
 3.3799999999999999: 1,
 3.3900000000000001: 1,
 3.4100000000000001: 0,
 3.4199999999999999: 1,
 3.4300000000000002: 0,
 3.46: 0,
 3.4700000000000002: 1,
 3.4900000000000002: 1,
 3.5099999999999998: 0,
 3.5499999999999998: 1,
 3.5600000000000001: 1,
 3.5899999999999999: 0,
 3.6000000000000001: 1,
 3.6600000000000001: 1,
 3.71: 1,
 3.7200000000000002: 0,
 3.73: 0,
 3.7400000000000002: 1,
 3.77: 1,
 3.7999999999999998: 0,
 3.8100000000000001: 0,
 3.8199999999999998: 0,
 3.8500000000000001: 1,
 3.8599999999999999: 1,
 3.8700000000000001: 0,
 3.8900000000000001: 0,
 3.8999999999999999: 0,
 3.9399999999999999: 0,
 3.9700000000000002: 0,
 3.98: 1}

Answer: TODO

(Use the template below)

Variable | Description | Type of Variable
---|---|---
Var 1 | 0 = Not thing, 1 = Thing | Categorical
Var 2 | Thing in unit X | Continuous

We would like to explore the association between X and Y.

> ### Question 6.  What is the outcome?

Answer: TODO

> ### Question 7.  What are the predictors/covariates?

Answer: TODO

> ### Question 8.  What timeframe is this data relevent for?

Answer: Data does not specify timeframe.

> ### Question 9.  What is the hypothesis?

Answer: TODO

> ### Question 10.  What's the problem statement?

> Using your answers to the above questions, write a well-formed problem statement.

Answer: TODO

## Part C.  Create an exploratory analysis plan by answering the following questions:

Because the answers to these questions haven't yet been covered in class yet, this section is optional.  This is by design.  By having you guess or look around for these answers will help make sense once we cover this material in class.  You will not be penalized for wrong answers but we encourage you to give it a try!

> ### Question 11. What are the goals of the exploratory analysis?

Answer: TODO

> ### Question 12.  What are the assumptions of the distribution of data?

Answer: TODO

> ### Question 13.  How will determine the distribution of your data?

Answer: TODO

> ### Question 14.  How might outliers impact your analysis?

Answer: TODO

> ### Question 15.  How will you test for outliers?

Answer: TODO

> ### Question 16.  What is colinearity?

Answer: TODO

> ### Question 17.  How will you test for covariance?

Answer: TODO

> ### Question 18.  What is your exploratory analysis plan?

> Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis one year from now.

Answer: TODO